<!-- views/partials/head.ejs -->
<header>
    <nav class="header-nav">
      <ul class="routes-list">
        <li>
          <a href="/ClaseAsincronica4/proyectoAutosMVC/routes/products">Listar Productos</a>
        </li>
        <li>
          <a href="/ClaseAsincronica4/proyectoAutosMVC/routes/products/marca/chevrolet">Products por marca</a>
        </li>
        <li>
          <a href="/products/color/black">Products por color</a>
        </li>
        <li>
          <a href="/products/anio/2020">Products por año</a>
        </li>
        <li>
          <a href="/products/modelo/camaro">Products por modelo</a>
        </li>
      </ul>
    </nav>
  </header>