<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DETALLE</h1>
    <p>Detalle de cada banda</p>
    <img src="acdc.jpg" alt="">
  </body>
</html>
