<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DETALLE</h1>
    <h2>Nombre de la banda: <%= nombre %></h2>
    <h3>Integrantes de la banda:</h3>
    <ol>
      <li><%= integrante %></li>
    </ol>
    <h3>Top Canciones:</h3>
    <ol>
      <li><%= topCanciones %></li>
    </ol>
    <img src="images/acdc.jpg" alt="">
  </body>
</html>

///<% %> permite incorporar condicionales y bucles
///<%= %> permite imprimir un valor dinámico