<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% for (let i = 0; i < lista.length; i++) { %>
        <li>
          <h3>Banda #<%= lista[i].nombre %></h3>
          <p><%= lista[i].integrantes %></p>
        </li>
      <% } %>
    </ul>
  </body>
</html>