<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BANDAS</h1>
    <p>Listado</p>
    <h2>Id de la banda: <%= id %></h2>
    <h3>Video de la banda:</h3>
    <span><%= video %></span>
    <h3>Covers:</h3>
    <ol>
      <li><%= cover %></li>
    </ol>
  </body>
</html>
