<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(heroe !== undefined) { %>
      <p>Hola, mi nombre es <%= heroe.nombre %> y soy <%= heroe.profesion %>.</p>
    <% } else { %>
      <p>No encontramos al científico/a indicado. Por favor, elija otro id.</p>
    <% } %>
  </body>
</html>