<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Películas</h1>
    <p>Estás en la página de películas.</p>

    <%- include('./partials/menu') %>

    <h2>Lista de películas</h2>
    <ul>
      <% for(let i=0; i<listaPelis.length ; i++) { %>
      <li> <%= listaPelis[i] %></li>
      <% } %>
    </ul>
  </body>
</html>
