<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Resultados de búsqueda</h1>

    <%- include('./partials/menu') %>

    <p>El término buscado es: <%= searchTerm %></p>
    <h2>Lista de películas</h2>
    <!-- Aquí debe ir la lista de resultados -->
  </body>
</html>
